[Unit]
Description=Project Amber, Spawn requests for external integrations
Documentation=https://github.pwc.com/MTS/Amber

[Service]
WorkingDirectory=/usr/local/bin/amber/spawn
#ExecStart=/usr/local/share/dotnet/dotnet /var/aspnetcore/hellomvc/hellomvc.dll
ExecStart=/usr/local/bin/amber/Spawn --config /usr/local/bin/amber/Spawn/configs/amberPipe-atom.json --kafka-host localhost:29092 --kafka-topic in.fetch.request.amber
Restart=always
RestartSec=10
SyslogIdentifier=com.pwc.tax.amber.spawn
User=dotnetuser
Group=dotnetuser
PrivateTemp=true

[Install]
WantedBy=multi-user.target
