<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pwc.tax.amber.spawnd</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/libexec/spawn/spawnd</string>
        <string>--config</string>
        <string>/etc/spawnd/amberPipe-atom.json</string>
        <string>--kafka-host</string>
        <string>localhost:29092</string>
        <string>--kafka-topic</string>
        <string>in.fetch.request.amber</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/spawnd-out.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/spawnd-err.log</string>
    <key>Debug</key>
    <true/>
</dict>
</plist>